header{
    background-color: rgb(170, 241, 182);
    padding: 4px;
    border-radius: 5px;
    position: static;
}

#heading{
    font-size: 3.5rem;
    font-family: Monotype Corsiva;
    margin: 0px;
}

#sub{
    font-weight: bold;
    color: gray;
    font-family: Monotype Corsiva;
    margin-left: 5px;
    margin-top: -5px;
    text-transform: lowercase;
}
.places{
    margin: 3.5em auto;
    width: fit-content
}
.details{
    text-align: justify;
    font-size: 1.1em;
    width: 730px;
}